@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome, Govee users!</h1>

<div class="px-4 pt-4 pb-2">
    <p>This is a simple implementation of the Govee API Wrapper (<a href="https://github.com/pit-cloud/govee">repository here</a>).</p>
    <p>Head over to the lights page and enter your Govee API key to retreive a list of lights and turn them on or off.</p>
    <p>More functionality will be added when I have time, a specifically brightness action.</p>

    <p>Any issues either raise an issue in the repository or send us an email:  <a href="mailto:info@powerit.cloud">info@powerit.cloud</a></p>
</div>